@import "tailwindcss";

@theme {
  --color-primary: #BA775A; 
  --color-secondary: #738B6A; 
  --color-beige: #D6C4AB;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


